* {
    scroll-behavior: smooth;
}

.mobile1{
    margin-top: -500px; 
    margin-left: 10px;
  }
  
  .mobile2{
    margin-left: 240px; 
  }
  
@media only screen and (max-width: 600px) { 
    .app-showcase{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .mobile1{
        margin-top: 0px; 
        margin-left: 0px;
    }

    .mobile2{
        margin-left: 0px; 
    }
}

.card {
    min-height: 250px;
    max-height: 200px;
}

.swiper {
    width: 100%;
    height: 100%;
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 65%;
    object-fit: cover;
    margin-top: -30px;
  }