* {
    scroll-behavior: smooth;
}

.mobile1{
    margin-top: -500px; 
    margin-left: 10px;
  }
  
  .mobile2{
    margin-left: 240px; 
  }
  
@media only screen and (max-width: 600px) { 
    .app-showcase{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .mobile1{
        margin-top: 0px; 
        margin-left: 0px;
    }

    .mobile2{
        margin-left: 0px; 
    }
}

.card {
    min-height: 250px;
    max-height: 200px;
}